aside{
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 130px;
    background-color: white;
}

aside div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

aside div img{
    height: 30px;
}

.hover-side-effect{
    cursor: pointer;
    padding-top: 15px;
}
.hover-side-effect:hover{
    background-color: rgba(192, 192, 192, 0.76);
}

